// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap";
@import "common";

.user {
  width: 100%;
}

.user .user-view {
  margin: auto;
  background-color: #F6F8F9;
  border: 2px solid #e2e2e2;
}

.user .user-view-box {
  max-width: 880px;
  background-color: #fff;
  border: 1px solid #eaedef;
  margin: 30px auto;
}

.user .update-content {
  border-bottom: 1px solid #eaedef;
  padding: 20px;
  margin: 0 15px;
  font-size: 16px;
}

span {
  color: red;
}

